# Lab test - manipulate and query data using Pandas (AM)

## Rules:

•	Make sure you are comfortable before the lab test starts – students leaving the lab during the test will not be allowed back in.

•	You must sit your assigned lab test – you will not be able to access any other lab test.

•	You must use the lab machines. You are not allowed to use any other devices, including your own laptop or phone. You should have no other device on the desktop during the test.

•	You may use blank paper. 

•	You may access Brightspace notes during the lab test, from the lab machine.

•	You must not communicate, verbally or electronically, with anyone other than the lab supervisor during the test.

•	Turn up at the start of the lab, log in to one of the desktops and start up Jupyter Notebook

•	When you have completed your test, check that you have answered all parts and submit.  Log off and leave the lab. 

•	Do not speak to anyone, either in the lab or in the corridor outside until the lab test is over.

In [1]:
import pandas as pd
import os
from os.path import join
from os import getcwd

#### This test must be done in the lab in Grangegorman. 

 - The data files you will require are in the Datasets folder in Brightspace. Download them onto the desktop computer.  You will need to specify the data path.
 - Please use one or more cells below each section to fulfil the requirements. 
 - When you have completed your work, using the Kernel menu, restart the kernel and run all. 
 - Using the File menu, Save your notebook as your student number .ipynb (e.g. C87654321.ipynb).
 - Submit this file before the end of the lab. Do not submit the data files.

In [2]:
os.getcwd()
datapath = join('Datasets')

## 1.  Loading the data

 - Load the 'Top 100 Greatest Hollywood Actors of All Time.csv' into a pandas dataframe called **actordf**.
 - Load the 'imdb_top_1000.csv' into a pandas dataframe called **imdf**
 - display the first five rows of each dataset.

In [3]:
actordf = pd.read_csv(join(datapath, "Top 100 Greatest Hollywood Actors of All Time.csv"))
imdf = pd.read_csv(join(datapath, "imdb_top_1000.csv"))

In [4]:
actordf.head()

,Name,Date of Birth,Place of Birth,Oscars,Oscar Nominations,BAFTA,BAFTA Nominations,Golden Globes,Golden Globe Nominations,Greatest Performances
0,Al Pacino,25 April 1940,"East Harlem, New York, United States",1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ..."
1,Alan Arkin,26 March 1934,"Brooklyn, New York, United States",1,4,1,3,1,6,"Argo, Little Miss Sunshine, The Heart Is a Lon..."
2,Alan Rickman,21 February 1946,"Hammersmith, London, United Kingdom",0,0,1,4,1,1,"Michael Collins, Truly Madly Deeply, Sense and..."
3,Albert Finney,9 May 1936,"Charlestown, Salford, United Kingdom",0,5,2,13,2,9,"The Murder on the orient Express, The Dresser,..."
4,Alec Guinness,2 April 1914,"Maida Vale, London, United Kingdom",1,5,3,7,1,3,"Star Wars, Little Dorrit, The Bridge on the Ri..."

In [5]:
imdf.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

## 2.	Check and tidy the data
 - Tidy sources:
     - From **imdf**, remove the columns 'Poster_Link',  'Certificate',  'Overview', 'No_of_Votes' and 'Gross'
     - From **actordf** remove the columns 'Place of Birth'
     - Copy **actordf** into a new dataframe, **adf**.

In [6]:
im_discardcols = ['Poster_Link', 'Certificate', 'Overview', 'No_of_Votes', 'Gross']
imdf.drop(columns=im_discardcols, inplace=True)
imdf.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4
0,The Shawshank Redemption,1994,142 min,Drama,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
1,The Godfather,1972,175 min,"Crime, Drama",9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine
3,The Godfather: Part II,1974,202 min,"Crime, Drama",9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton
4,12 Angry Men,1957,96 min,"Crime, Drama",9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler

In [7]:
actordf.drop(columns='Place of Birth', inplace=True)
actordf.head()

,Name,Date of Birth,Oscars,Oscar Nominations,BAFTA,BAFTA Nominations,Golden Globes,Golden Globe Nominations,Greatest Performances
0,Al Pacino,25 April 1940,1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ..."
1,Alan Arkin,26 March 1934,1,4,1,3,1,6,"Argo, Little Miss Sunshine, The Heart Is a Lon..."
2,Alan Rickman,21 February 1946,0,0,1,4,1,1,"Michael Collins, Truly Madly Deeply, Sense and..."
3,Albert Finney,9 May 1936,0,5,2,13,2,9,"The Murder on the orient Express, The Dresser,..."
4,Alec Guinness,2 April 1914,1,5,3,7,1,3,"Star Wars, Little Dorrit, The Bridge on the Ri..."

In [8]:
adf = actordf
adf.head()

,Name,Date of Birth,Oscars,Oscar Nominations,BAFTA,BAFTA Nominations,Golden Globes,Golden Globe Nominations,Greatest Performances
0,Al Pacino,25 April 1940,1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ..."
1,Alan Arkin,26 March 1934,1,4,1,3,1,6,"Argo, Little Miss Sunshine, The Heart Is a Lon..."
2,Alan Rickman,21 February 1946,0,0,1,4,1,1,"Michael Collins, Truly Madly Deeply, Sense and..."
3,Albert Finney,9 May 1936,0,5,2,13,2,9,"The Murder on the orient Express, The Dresser,..."
4,Alec Guinness,2 April 1914,1,5,3,7,1,3,"Star Wars, Little Dorrit, The Bridge on the Ri..."

 - Rearrange the data:
     - Using **adf**, create a row for each performance as follows.  The 'Greatest Performances' column has a comma-separated list of stars. Create a row per actor, per performance as below:

     - Make sure none of the performance are empty - replace empty values with 'None'.
     - Add a new column, containing a list of the separated values.
     - Make a new dataframe, with a column for every list item.

In [9]:
adf_split = adf['Greatest Performances'].str.split(",")
for i in adf_split:
    for j in i:
        j.replace("", "None")

adf['Performance List'] = adf_split
adf['Performance List'] = adf['Performance List'].astype(str)
adf.head()

adf_split[0][0]

new_df = adf
for i in adf_split:
    for j in range(len(i)):
        perf_index = j + 1
        new_df[f'Performance {perf_index}'] = i[j]

new_df.head()

,Name,Date of Birth,Oscars,Oscar Nominations,BAFTA,BAFTA Nominations,Golden Globes,Golden Globe Nominations,Greatest Performances,Performance List,Performance 1,Performance 2,Performance 3,Performance 4,Performance 5,Performance 6
0,Al Pacino,25 April 1940,1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ...","['Serpico', ' Scent of a Woman', ' Dog Day Aft...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly
1,Alan Arkin,26 March 1934,1,4,1,3,1,6,"Argo, Little Miss Sunshine, The Heart Is a Lon...","['Argo', ' Little Miss Sunshine', ' The Heart ...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly
2,Alan Rickman,21 February 1946,0,0,1,4,1,1,"Michael Collins, Truly Madly Deeply, Sense and...","['Michael Collins', ' Truly Madly Deeply', ' S...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly
3,Albert Finney,9 May 1936,0,5,2,13,2,9,"The Murder on the orient Express, The Dresser,...","['The Murder on the orient Express', ' The Dre...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly
4,Alec Guinness,2 April 1914,1,5,3,7,1,3,"Star Wars, Little Dorrit, The Bridge on the Ri...","['Star Wars', ' Little Dorrit', ' The Bridge o...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly

 - Use a horizontal concatenation, to add the list columns to the original dataframe. Drop any redundant columns.
 - Melt the new columns down into a dataframe longadf, giving a row for each element of the list, calling the new column 'Performance'.
 - Drop the 'variable' column.
 - Pick one of the actor's names.  Check that there is a row in longadf for every performance that actor had in adf.
 - Only keep rows where 'Performance' does not have the value ''.

In [10]:
longadf = pd.melt(
    adf, id_vars='Name',
    value_vars='Greatest Performances',
    value_name='Performance'
)
longadf.head()
perf_split = longadf.Performance.str.split(",", expand=True)
perf_split.replace("", "None")
perf_split.columns=['Performance 1', 'Performance 2', 'Performance 3', 'Performance 4', 'Performance 5', 'Performance 6']
adfl_parsed = pd.concat([longadf, perf_split], axis=1)
adfl_parsed.drop(columns=['variable', 'Performance'], inplace=True)
adfl_parsed.head()

,Name,Performance 1,Performance 2,Performance 3,Performance 4,Performance 5,Performance 6
0,Al Pacino,Serpico,Scent of a Woman,Dog Day Afternoon,The Godfather: Part II,None,None
1,Alan Arkin,Argo,Little Miss Sunshine,The Heart Is a Lonely Hunter,None,None,None
2,Alan Rickman,Michael Collins,Truly Madly Deeply,Sense and Sensibility,None,None,None
3,Albert Finney,The Murder on the orient Express,The Dresser,Under the Volcano,None,None,None
4,Alec Guinness,Star Wars,Little Dorrit,The Bridge on the River Kwai,None,None,None

- Now tackle imdf:
    - melt imdf to create a DataFrame **imdfl** with a row for each star from the 'Star1' to 'Star4' columns, calling the new column 'Starring'
    - drop the variable column from the resultant **imdfl**

In [11]:
imdfl = pd.melt(
    imdf, id_vars=['Series_Title'],
    value_vars=['Star1', 'Star2', 'Star3', 'Star4'],
    value_name='Starring'
)
imdfl.drop(columns='variable', inplace=True)
imdfl.head()

               Series_Title        Starring
0  The Shawshank Redemption     Tim Robbins
1             The Godfather   Marlon Brando
2           The Dark Knight  Christian Bale
3    The Godfather: Part II       Al Pacino
4              12 Angry Men     Henry Fonda

## 3. Merge  the data

 - Merge the original actor dataframe **actordf** with **imdfl** on the actor's name, keeping all data.

In [12]:
actordf.columns

Index(['Name', 'Date of Birth', 'Oscars', 'Oscar Nominations', 'BAFTA',
       'BAFTA Nominations', 'Golden Globes', 'Golden Globe Nominations',
       'Greatest Performances', 'Performance List', 'Performance 1',
       'Performance 2', 'Performance 3', 'Performance 4', 'Performance 5',
       'Performance 6'],
      dtype='object')

In [13]:
imdfl.columns

Index(['Series_Title', 'Starring'], dtype='object')

In [14]:
merge_imdf_actor = pd.merge(actordf, imdfl, left_on="Name", right_on="Starring")

 - Check that the resultant dataframe is correct.

In [15]:
merge_imdf_actor.head()

,Name,Date of Birth,Oscars,Oscar Nominations,BAFTA,BAFTA Nominations,Golden Globes,Golden Globe Nominations,Greatest Performances,Performance List,Performance 1,Performance 2,Performance 3,Performance 4,Performance 5,Performance 6,Series_Title,Starring
0,Al Pacino,25 April 1940,1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ...","['Serpico', ' Scent of a Woman', ' Dog Day Aft...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly,The Godfather: Part II,Al Pacino
1,Al Pacino,25 April 1940,1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ...","['Serpico', ' Scent of a Woman', ' Dog Day Aft...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly,Scarface,Al Pacino
2,Al Pacino,25 April 1940,1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ...","['Serpico', ' Scent of a Woman', ' Dog Day Aft...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly,Heat,Al Pacino
3,Al Pacino,25 April 1940,1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ...","['Serpico', ' Scent of a Woman', ' Dog Day Aft...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly,Scent of a Woman,Al Pacino
4,Al Pacino,25 April 1940,1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ...","['Serpico', ' Scent of a Woman', ' Dog Day Aft...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly,Dog Day Afternoon,Al Pacino

## 4.	Queries:

 - List the names of actors from the top 100 dataframe that are not in the IMDB dataset.
 - List Series_Title, Released_Year	and Runtime of all titles that Al Pacino starred in, according to IMDB.
 - List Series_Title, Released_Year	and Runtime of all titles that Scarlett Johansson starred in,  according to IMDB.
 - Get the average Meta_score for each of the top 100 actors, in alphabetical order.

In [16]:
for x in actordf["Name"]:
    if x not in imdfl['Starring']:
        print(x)

Al Pacino
Alan Arkin
Alan Rickman
Albert Finney
Alec Guinness
Anthony Hopkins
Anthony Quinn
Ben Kingsley
Benicio Del Toro
Bill Murray
Brad Pitt
Burt Lancaster
Cary Grant
Charles Chaplin
Charles Laughton
Charlton Heston
Christian Bale
Christoph Waltz
Christopher Plummer
Christopher Walken
Clark Gable
Clint Eastwood
Colin Firth
Daniel Day-Lewis
Denzel Washington
Don Cheadle
Dustin Hoffman
Edward Norton
Gary Cooper
Gary Oldman
Gene Hackman
Gene Kelly
Geoffrey Rush
George C. Scott
Gregory Peck
Harrison Ford
Heath Ledger
Henry Fonda
Hugh Jackman
Humphrey Bogart
Ian McKellen
Jack Lemmon
Jack Nicholson
James Cagney
James Dean
James Stewart
Jamie Foxx
Jason Robards
Javier Bardem
Jeff Bridges
Jeremy Irons
Jim Carrey
Joaquin Phoenix
Joe Pesci
John Goodman
John Travolta
John Wayne
Johnny Depp
Jon Voight
Kevin Spacey
Kirk Douglas
Laurence Olivier
Leonardo DiCaprio
Liam Neeson
Marlon Brando
Martin Sheen
Matt Damon
Matthew McConaughey
Mel Gibson
Michael Caine
Michael Douglas
Morgan Freeman
Nicolas Cage
Orson Welles
Paul Newman
Peter Finch
Peter O'Toole
Peter Sellers
Philip Seymour Hoffman
Ralph Fiennes
Richard Burton
Robert De Niro
Robert Downey Jr.
Robert Duvall
Robert Mitchum
Robert Redford
Robin Williams
Russell Crowe
Samuel L. Jackson
Sean Connery
Sean Penn
Sidney Poitier
Spencer Tracy
Steve McQueen
Tom Cruise
Tom Hanks
Tommy Lee Jones
Will Smith
William Holden
Woody Allen

In [17]:
merge_imdf_actor.query("Name == 'Al Pacino'")

,Name,Date of Birth,Oscars,Oscar Nominations,BAFTA,BAFTA Nominations,Golden Globes,Golden Globe Nominations,Greatest Performances,Performance List,Performance 1,Performance 2,Performance 3,Performance 4,Performance 5,Performance 6,Series_Title,Starring
0,Al Pacino,25 April 1940,1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ...","['Serpico', ' Scent of a Woman', ' Dog Day Aft...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly,The Godfather: Part II,Al Pacino
1,Al Pacino,25 April 1940,1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ...","['Serpico', ' Scent of a Woman', ' Dog Day Aft...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly,Scarface,Al Pacino
2,Al Pacino,25 April 1940,1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ...","['Serpico', ' Scent of a Woman', ' Dog Day Aft...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly,Heat,Al Pacino
3,Al Pacino,25 April 1940,1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ...","['Serpico', ' Scent of a Woman', ' Dog Day Aft...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly,Scent of a Woman,Al Pacino
4,Al Pacino,25 April 1940,1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ...","['Serpico', ' Scent of a Woman', ' Dog Day Aft...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly,Dog Day Afternoon,Al Pacino
5,Al Pacino,25 April 1940,1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ...","['Serpico', ' Scent of a Woman', ' Dog Day Aft...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly,Carlito's Way,Al Pacino
6,Al Pacino,25 April 1940,1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ...","['Serpico', ' Scent of a Woman', ' Dog Day Aft...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly,Donnie Brasco,Al Pacino
7,Al Pacino,25 April 1940,1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ...","['Serpico', ' Scent of a Woman', ' Dog Day Aft...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly,Glengarry Glen Ross,Al Pacino
8,Al Pacino,25 April 1940,1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ...","['Serpico', ' Scent of a Woman', ' Dog Day Aft...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly,Serpico,Al Pacino
9,Al Pacino,25 April 1940,1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ...","['Serpico', ' Scent of a Woman', ' Dog Day Aft...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly,The Godfather: Part III,Al Pacino
10,Al Pacino,25 April 1940,1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ...","['Serpico', ' Scent of a Woman', ' Dog Day Aft...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly,The Godfather,Al Pacino
11,Al Pacino,25 April 1940,1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ...","['Serpico', ' Scent of a Woman', ' Dog Day Aft...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly,The Irishman,Al Pacino
12,Al Pacino,25 April 1940,1,8,2,5,4,15,"Serpico, Scent of a Woman, Dog Day Afternoon, ...","['Serpico', ' Scent of a Woman', ' Dog Day Aft...",Annie Hall,Manhattan,Take the Money and Run,Saving Private Ryan,Taxi Driver,and the Ugly,The Insider,Al Pacino

## 5.	What did you learn? Use Markdown or comments to enter your answer.
 - What did you find interesting about the datasets?
 - Can you think of other queries you'd like to make?

# BEFORE YOU SUBMIT:
Restart and run all, to make sure you have no errors.